$circles: 12;

body,
html {
    height: 100%;
    min-height: 100%;
}

body {
    background: linear-gradient(top right, #2B1A1F, #1a1a1a);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    backface-visibility: hidden;
    border-style: dashed;
    border-color: rgba(#ED1C5B, 0.1);
    border-width: .5px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: calc(50% - 12.5px);
    left: calc(50% - 12.5px);
    border-radius: 50%;
    overflow: hidden;
    &--solid {
        border-style: solid;
    }
    &--counter {
        animation-direction: reverse;
    }
    @for $i from 1 to $circles {
        &:nth-of-type(#{$i}) {
            animation-duration: calc(30s * #{$i});
            box-shadow: 0 0 22px * $i rgba(#ED1C5B, $i * .02) inset;
            border-color: rgba(#ED1C5B, 0.1 * $i);
            border-width: .5px * $i;
            width: calc(100px * #{$i});
            height: calc(100px * #{$i});
            top: calc(50% - (100px * #{$i}) / 2);
            left: calc(50% - (100px * #{$i}) / 2);
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}