doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300', rel='stylesheet',type='text/css')
    meta(charset="utf-8")
  body
    .clock
      .hours
        - for (var i = 0; i < 60; i++)
          .tick
      .minutes
        - for (var i = 0; i < 60; i++)
          .tick
      .seconds
        - for (var i = 0; i < 60; i++)
          .tick
    .count
    