//- Made for this challenge: https://www.youtube.com/watch?v=E4RyStef-gY
//- See my short description here: https://github.com/CodingTrain/Rainbow-Code/pull/214
//- See the rest of the community clocks or submit your own here:
//- https://github.com/CodingTrain/Rainbow-Code/blob/master/CodingChallenges/CC_74_Clock/README.md