@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

:root {
  --pi: 3.1415926536;
}

body {
  font-family: 'Dancing Script', cursive;
  min-height: 100vh;
  display: grid;
  place-items: center;
  perspective: 1800px;
  
  *:not(:empty) {
    transform-style: preserve-3d;
  }
}

.text {
  position: fixed;
  left: 1em; top: 1em;
  color: #777;
  font-size: 24px;
}

.ball {
  position: relative;
  width: 400px; height: 400px;
  cursor: move;
  animation: ball 20s infinite linear paused;
  
  @keyframes ball {
    from { transform: rotateX(-30deg) rotateZ(0deg); }
    to { transform: rotateX(330deg) rotateZ(360deg); }
  }
  
  &:hover {
    animation-play-state: running;
  }
}

.disk {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  box-shadow: 0 0 10px #0002;
  animation: disk 10s var(--delay) infinite ease-in-out;
  
  @for $i from 0 to 10 {
    &:nth-child(#{$i + 1}) {
      --delay: #{$i * -1s};
    }
  }
}

@keyframes disk {
  0% { transform: rotateX(90deg) scale(0) translateZ(200px); background-color: #1d182f; }
  10% { transform: rotateX(90deg) scale(calc(sin(var(--pi) * 0.1))) translateZ(calc(cos(var(--pi) * 0.1) * 200px)); background-color: #251c47; }
  20% { transform: rotateX(90deg) scale(calc(sin(var(--pi) * 0.2))) translateZ(calc(cos(var(--pi) * 0.2) * 200px)); background-color: #332765; }
  30% { transform: rotateX(90deg) scale(calc(sin(var(--pi) * 0.3))) translateZ(calc(cos(var(--pi) * 0.3) * 200px)); background-color: #134697; }
  40% { transform: rotateX(90deg) scale(calc(sin(var(--pi) * 0.4))) translateZ(calc(cos(var(--pi) * 0.4) * 200px)); background-color: #1c5ba8; }
  50% { transform: rotateX(90deg) scale(calc(sin(var(--pi) * 0.5))) translateZ(calc(cos(var(--pi) * 0.5) * 200px)); background-color: #4b6eb0; }
  60% { transform: rotateX(90deg) scale(calc(sin(var(--pi) * 0.6))) translateZ(calc(cos(var(--pi) * 0.6) * 200px)); background-color: #908bbf; }
  70% { transform: rotateX(90deg) scale(calc(sin(var(--pi) * 0.7))) translateZ(calc(cos(var(--pi) * 0.7) * 200px)); background-color: #c3abd1; }
  80% { transform: rotateX(90deg) scale(calc(sin(var(--pi) * 0.8))) translateZ(calc(cos(var(--pi) * 0.8) * 200px)); background-color: #c6c8de; }
  90% { transform: rotateX(90deg) scale(calc(sin(var(--pi) * 0.9))) translateZ(calc(cos(var(--pi) * 0.9) * 200px)); background-color: #e8ecf7; }
  100% { transform: rotateX(90deg) scale(0) translateZ(-200px); background-color: #e8ecf7; }
}