$color: #555;
$borderWidth: 2px;

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(to bottom, lighten(hotpink, 10%), lighten(skyblue, 10%));
}

body {
  padding: 1em;
}

%face {
  width: 300px;
  height: 300px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  @extend %face;
  background: white;
  position: relative;
  outline: $borderWidth solid $color;
  box-shadow: inset 0 0 1em #666;
  
  &:after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
    background: $color;
    border-radius: 50%;
  }
}

.seconds,
.minutes,
.hours {
  @extend %face;
  position: absolute;
  border-style: solid;
  border-color: transparent $color $color;
  border-width: $borderWidth;
  
  &:before,
  &:after {
    position: absolute;
    content: '';
  }
  
  &:before{
    top: -$borderWidth;
    left: calc(50% - 10px - #{$borderWidth});
    width: 20px;
    height: 53.5%;
    border-style: solid;
    border-color: transparent $color $color;
    border-width: $borderWidth;
    border-radius: 0 0 20px 20px; 
  }
  &:after {
      height: $borderWidth;
      width: calc(100% + 4px);
      left: -$borderWidth;
      top: -$borderWidth;
      background: linear-gradient(to right, $color 139px, rgba(0,0,0,0) 140px, rgba(0,0,0,0) 160px, $color 161px, $color 300px);
    }
}

.minutes {
  &:before {
    width: 10px;
    left: calc(50% - 7px);
    height: 52%;
  }
  
  &:after {
    background: linear-gradient(to right, $color 144px, rgba(0,0,0,0) 145px, rgba(0,0,0,0) 156px, $color 157px, $color 300px);
  }
}

.seconds {
  &:before {
    width: 6px;
    left: calc(50% - 5px);
    height: 52%;
  }
  
  &:after {
    background: linear-gradient(to right, $color 146px, rgba(0,0,0,0) 147px, rgba(0,0,0,0) 153px, $color 154px, $color 300px);
  }
}

